*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 30px;
  background-color :#e9eaed;
}

a:hover {
  text-decoration:none;
}

.bump {
    margin-top: 20px;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow:auto;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-menu {
  padding-right: 50px;
}

#mapfeed {
  height: 300px;
  width: 100%;
}


// Ryan styles
$black: #151515;
$green: #97d700;
$light-green: #aee52b;
$dark-green: #90df3b;
//main

body {
  background:#fff;
}
a {
  color: $green;
}
// Buttons
.btn-info {
  background: $green;
  border-color: $dark-green;
}
//navbar
.navbar-inverse {
  background-color: $black;
}
.navbar-brand {
  color: $green !important;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse
.navbar-nav>.open>a:focus {
  background-color: $green;
}
.navbar-inverse .dropdown-menu {
  background-color: $green;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background: $green;
}

.navbar-inverse .dropdown-menu>li>a:hover {
  background-color: $light-green;
}

//

.album-title {
  background-color: $green;
}
