*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 30px;
  background-color :#e9eaed;
}


a:hover {
  text-decoration:none;
}

.bump {
    margin-top: 20px;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow:auto;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-menu {
  padding-right: 50px;
}

#mapfeed {
  height: 300px;
  width: 100%;
}


// Ryan styles
$black: #151515;
$green: #97d700;
$light-green: #aee52b;
$dark-green: #90df3b;
//main

body {
  background:#fff;
}
a {
  color: $green;
}
// Buttons
.btn {
  padding:8px 28px;
}

.btn-info{
  background: $green;
  border-color: $dark-green;
  text-decoration:none;
  &:hover {
    background: $light-green;
    border: $dark-green;
  }
  &:active {
    background: $light-green;
    border: $dark-green;
  }
}

.btn-primary {
  color: $green;
  background-color: rgba(#fff, 0.0);
  border: 1px solid $green;
  &:hover {
    background:$green;
    border:$green;
    color: #fff;
  }
}
.btn-secondary {
  color: $black;
  background-color: rgba(#fff, 0.0);
  border: 1px solid $black;
  &:hover {
    background:$black;
    border:$black;
    color: #fff;
  }
}
.btn-status {
  background: $black;
  color: #fff;
}
.btn-group>.btn:first-child {margin-left:2em;}

//navbar
.navbar-inverse {
  background-color: $black;
}
.navbar-brand {
  color: $green !important;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse
.navbar-nav>.open>a:focus {
  background-color: $green;
}
.navbar-inverse .dropdown-menu {
  background-color: $green;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background: $green;
}

.navbar-inverse .dropdown-menu>li>a:hover {
  background-color: $light-green;
}

//

.album-title {
  background-color: $green;
}

//user feed page //

input {
  width:80%;
  padding-top:15px;
  padding-bottom:30px;
  border: 1px solid #151515;
}

.top75 {
  margin-top:75px;
}
.list-group-item {
  &.active{
    background-color:$green;
    border: 1px solid $dark-green;
    &:hover {
      background-color: $green;
      border: 1px solid $dark-green;
    }
    &:focus {
      background-color: $green;
      border: 1px solid $dark-green;
    }
  }
}
a.list-group-item {
  &:hover {
    background: $green;
    border: 1px solid $dark-green;
    color: white;
  }
}

ul.nav.nav-tabs.nav-justified {
  li {
    a.active {
      color: $green;
      background:white;
    }
  }
}

.col-md-2 {text-align:center;}
.panel-body {padding:3px;}

.avatar-frame {
  background: white;;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(black,0.4),inset 0 0 4px rgba(black,0.4);
  height: 120px;
  width: 120px;
  left: 60%;
  margin-left: -85px;
  margin-bottom: -2em;
/*   top: 2.4em; */
  position: absolute;
  z-index: 3;
}

.panel-default>.panel-heading {
  color: #fff;
  background: linear-gradient(#151515, #97d700)!important;
  border-color: $dark-green;
  height:125px;
}
.panel-overlay {
  position:absolute;
  top:0;
  height:55px;
  background: rgba(#151515, .85);
  width:96.5%;
  img {
    float:right;
    padding-right:10em;
  }
}
 .top50{
   margin-top:2.5em;
 }
 .top100{margin-top:5em;}
#logo {
  margin-top:1em;
}
.row hr {margin-top:5px;}

.nav-tabs>li>a{background:#fff;}
