{{yield}}
<div class="thumbnail">
  <img src="http://placehold.it/300x200" alt="...">
  <div class="caption">
    <h3>Article Title</h3>
    <p>What you find is, when you're told to write filler text, you draw a blank, so you write dumb shit like this</p>
    <p><a href="#" class="btn btn-primary" role="button">Read More</a> <a href="#" class="btn btn-secondary" role="button">Pin It</a></p>
  </div>
</div>
