<div class="col-md-4">
  <div class="thumbnail">
    <img src="http://placehold.it/300x200" alt="...">
    <div class="caption">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
    <p>
    {{#link-to 's.posts.post' post.id class="btn btn-primary"}}View{{/link-to}}
    <a href="#" class="btn btn-secondary" role="button">Pin It</a>
    </p>
    </div>
  </div>
</div>

{{yield}}
