{{outlet}}

<div class="container">
	<div class="col-md-2">
		{{#link-to 's.posts.create'}}<div class="btn btn-info bump">Create Post</div>{{/link-to}}
	</div>
	<div class="col-md-10">
		<div class="row top35">

		{{#each model as |post|}}
		<div class="col-md-4">
		<div class="thumbnail">
		  <img src="http://placehold.it/300x200" alt="...">
		  <div class="caption">
		    <h3>{{post.title}}</h3>
		    <p>{{post.body}}</p>
		    <p>{{#link-to 's.posts.post' post.id class="btn btn-primary"}}View{{/link-to}} <a href="#" class="btn btn-secondary" role="button">Pin It</a></p>
		  </div>
		</div>
		</div>
		{{/each}}

	</div>
	</div>
</div>
