{{outlet}}
<div class="row">
	<br>
	<div class="col-md-3">
		{{media-article}}
		{{media-article}}
	</div>
	<div class="col-md-5">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-status"> Tweet </button>
			{{#link-to 's.feed.status'class="btn"}}
			Status
			{{/link-to}}
		  <button type="button" class="btn btn-status"> Article </button>
		</div>
		<input type="text" rows="8" >
		<br><br>
		<div class="newsfeed">
			{{#each model as |status|}}
				{{status-card status=status}}
			{{/each}}

		</div>
	</div>
	<div class="col-md-2">
	<h3>stuff</h3>
	</div>
	<div class="col-md-1">
	<h3>Chat</h3>
	</div>
</div>
{{!-- <div class="col-md-5">
	<div class="page-header">
        <h3>Geo</h3>
    </div>
    {{! TODO - make filter radios for food, adventure etc. hook them to query param and redo api call for places}}
	<nearby-locations></nearby-locations>
</div> --}}
